@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
  }
}

.font-graduate {
  font-family: 'Graduate', serif !important;
}

.font-figtree {
  font-family: 'Figtree', sans-serif !important;
}